/* 样式初始化 */
*{
    padding: 0px;
    margin: 0px;
    font-family: 微软雅黑;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #333333;
}
a{
    text-decoration: none;
    color:#333;
}
ul,li,ol{
    list-style: none;
}
/* 中间容器 */
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: #ecececfa;
}
/* 计算解释组 */
.group{
    height: 100px;
    display: flex;
    flex-direction: column;
}
.group>h2{
    margin-top: 25px;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
}
.group>span{
    font-size: 19px;
    font-weight:bold;
    margin-top: 8px;
    color: #FFE5B4;
}
.group_list{
    width:100%;
    display: flex;
    background-color: #486E93;
    align-items: center;
    height: 200px;
}
.group_list>img{
    height: 100%;
    margin-right: 60px;
}
/* 导航栏 */
.outside{
    width: 100%;
    height: 65px;
    background-color: #174366;
}
.outside>ul{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.outside>ul>li{
    margin-left: 30px;
    padding: 3px 5px;
}
.outside>ul>li>a{
    color: #fff;
}
.outside>ul>li:hover{
    background-color: #2F516C;
}
.outside>ul>li:nth-child(8){
    background-color: #486E93;
    padding: 3px 5px;
}
/* News */
.research{
    width: 85%;
    margin-left: 30px;
}
.research_list{
    width: 88%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-top: 10px;
}
.research_list>p{
    color: #174366;
    font-weight: bold;
    font-size: 30px;
}
.research_list>span{
    font-size: 13px;
    line-height: 1.8em;
}
/* 2023 CIG graduates, June 15, 2023 */
.lognet{
    width: 110%;
    border-top: 1px solid #A32911;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.lognet>span{
    margin-top: 20px;
    text-align: center;
    width: 80%;
    font-size: 16px;
}
.lognet p{
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    color: #A32945;
}
.lognet_list{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lognet_list>img{
    width: 90%;
    margin: 70px auto;
}
.lognet_list>span{
    font-size: 13px;
}
.lognet_last{
    margin-top: 8px;
}
.lognet_last>a{
    color: #174366;
    font-weight: bold;
    font-size: 30px;
}
.lognet_last>a:hover{
    color: #333;
    border-bottom: 1px solid #333;
}
.lognet_last>span{
    font-size: 13px;
}
/* Team building, June 11, 2023 图片垂直排列 */
.building_list{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.building_list>img{
    width: 60%;
    height: 280px;
    margin-top: 40px;
}
/* Congratulations to Zhengfa Bi, March 13rd, 2023  头像部分 */
.lations_list{
    width:50%;
    margin-top: 15px;
    display: flex;
}
.lations_list>img{
    width: 25%;
    height: 120px;
}
.lations{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
}
.lations>span{
    font-size: 13px;
}
/* 2023 CIG graduates, June 15, 2023 图片三张排列 */
.final_list{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.final_list>img{
    width: 31%;
    height: 180px;
}
/* Summer intern, 2022 图片下方有字 */
.summer{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.summer>img:nth-child(1){
    width: 60%;
    height: 180px;
}
.summer>img:nth-child(2){
    width: 30%;
    height: 180px;
    margin-left: 15px;
}
.summer_list{
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.6em;
}