/* 样式初始化 */
*{
    padding: 0px;
    margin: 0px;
    font-family: 微软雅黑;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #333333;
}
a{
    text-decoration: none;
    color:#333;
}
ul,li,ol{
    list-style: none;
}
/* 中间容器 */
.container{
    width: 1000px;
    height: 2000px;
    margin: 0 auto;
    background-color: #ecececfa;
}
/* 计算解释组 */
.group{
    height: 100px;
    display: flex;
    flex-direction: column;
}
.group>h2{
    margin-top: 25px;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
}
.group>span{
    font-size: 19px;
    font-weight:bold;
    margin-top: 8px;
    color: #FFE5B4;
}
.group_list{
    width:100%;
    display: flex;
    background-color: #486E93;
    align-items: center;
    height: 200px;
}
.group_list>img{
    height: 100%;
    margin-right: 60px;
}
/* 导航栏 */
.outside{
    width: 100%;
    height: 65px;
    background-color: #174366;
}
.outside>ul{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.outside>ul>li{
    margin-left: 30px;
    padding: 3px 5px;
}
.outside>ul>li>a{
    color: #fff;
}
.outside>ul>li:hover{
    background-color: #3281c2;
}
.outside>ul>li:nth-child(3){
    background-color: #486E93;
    padding: 3px 5px;
}
.container_list{
    width: 93%;
    margin: 0 auto;
    margin-top: 5px;
}
/* 上半部分 */
.half{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 5px;
}
.half>p{
    color: #174366;
    font-weight: bold;
    font-size: 30px;
}
.half>span{
    font-size: 13px;
    line-height: 1.8em;
    text-align: center;
    display: block;
}
.half>img{
    width: 100%;
}
/* GROUP HEAD */
.responsible{
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid #A32911;
}
.responsible>h5{
    font-size: 13px;
    color: #A32911;
}
.respon_list{
    width: 100%;
    padding: 17px 25px;
    display: flex;
}
.respon_list>img{
    width: 13.5%;
}
.respon_list>ul{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.respon_list>ul>li{
    line-height: 1.8em;
    font-size: 17px;
    font-weight: bold;
}
.respon_list>intro{
    margin-top: 0px;
    display: flex;
    text-justify: center;
    width: 95%;
    font-weight: normal;
    line-height: 1.4em;
    font-size: 16px;
}
/* PHD STUDENTS */
.stud_list{
    width: 97%;
    margin: 0 auto;
    padding: 17px 0px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.stud_list>li{
    width: 17%;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;  /* 新增左外边距 */
    margin-right: 10px; /* 新增右外边距 */
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* 内容垂直分布 */
}
.stud_list>li img{
    width: 80%;
    height: 170px;    /* 设置固定的高度 */
    object-fit: cover; /* 确保图片不失真，多余的部分会被裁剪 */
}
.stud_list>li span{
    font-size: 100%;
    font-weight: bold;
}
/* Appendix */
.appendix{
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
}
.appendix>li span{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-justify: center;
}
